div#contenedor{
	background-color: darkred;
	width: 1340px;
	height: 5000px;
}

div#navegacion{
	background-color: blueviolet;
	width: 1300px;
	height: 100px;
	margin: auto;
}

div#comida{
	background-color: gray;
	width: 250px;
	height: 250px;
	margin: 20px;
}

div#bebida{
	background-color: darkgreen;
	width: 250px;
	height: 250px;
	margin: 20px;
}

div#galeria{
	background-color: darkgreen;
	width: 250px;
	height: 520px;
	float: right;
	margin-right:800px;
	margin-top: -540px;

}

div#promociones{
	background-color: darkgreen;
	width: 300px;
	height: 520px;
	float: right;
	margin-right:480px;
	margin-top: -540px;

}

div#ubicacion{
	background-color: darkblue;
	width: 400px;
	height: 250px;
	float: right;
	margin-right:20px;
	margin-top: -540px;

}

div#reservacion{
	background-color: orange;
	width: 400px;
	height: 250px;
	float: right;
	margin-right:20px;
	margin-top: -270px;

}

div#pie{
	background-color: blueviolet;
	width: 1300px;
	height: 100px;
	margin: auto;
}